
#content{
    width: 100%;
    height: 100%;
    background-image: url('/image/user.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}

#middleBox{
    position: relative;
}

#employeePig{
    width: 360px;
    height: 320px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;

    border-radius: 5%;
    border: 2px #364958 dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #headPigUp{
    display: grid;
    justify-items: center;
    align-items: end;

} */

#signPigBox{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 320px;
    top: 280px;
    background-color: #FFEEDD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signPigPreview{

    width: 60%;
    height: 60%;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

}

.innerBoxTitle{
    color: gray;
    padding-top: 20px;
}

.userInfo{
    color: #364958;
    padding-left: 36px;
}
button{
    width: 170px;
    height: 36px;
    border-radius: 5px;
    border-style: none;
    margin-top: 20px;
    color: white;
    background-color: #6B9080;
    align-items: center;
    justify-items: center;
    cursor: pointer;

}
input{
    margin-bottom: 20px;
}


#errorAlert{
    color: #C1121F;
    margin-top: 20px;
}

#employeePig > input,#signPigBox>input{
    display: none;
}

.upLoadHint{
margin-right: 25px;
}