<!DOCTYPE html>
{% extends 'base.html' %}
{% block link%}
<link rel='stylesheet' type='text/css' href='/css/sale/searchClient.css'>
<link rel='stylesheet' type='text/css' href='/css/product/searchStockBalance.css'>
{% endblock link%}
<body>
{% block BODY%}
<div id = 'content'>
    <div id = 'title'>庫存變動明細
        <img src = '/image/search.png' id = 'searchPng' onclick = 'openSW()'>
        <span class = 'showCondtion'></span>
        <span class = 'showCondtion'></span>
        <span class = 'showCondtion'></span>
        <span class = 'showCondtion'></span>
    </div>
    <div id = 'middleBox'>
        <table id = 'resultTable'>
            <tbody>
                <tr>
                    <th>序列</th>
                    <th>日期</th>
                    <th>申請單號</th>
                    <th>產品編號</th>
                    <th>產品名稱</th>
                    <th>供應商名稱</th>
                    <th>入庫數量</th>
                    <th>出庫數量</th>
                </tr>
            </tbody>
        </table>

    </div>
    <div id = 'pageBtn'>
        <button id = 'lastPage' onclick = 'lastPage()'>上一頁</button>
        <button id = 'nextPage' onclick = 'nextPage()'>下一頁</button>
    </div>
</div>
<div id = 'searchBox'>
    <div id = 'colorline-top'></div>
    <div id = 'sWindow'>
        <div id = 'sWindowT'>查詢條件</div>
        <div id = 'closePng'><img src = '/image/close.png' onclick = 'closeSW()'></div>
    </div>
    <div id = 'searchBlock'>
        <div id = 'searchTitleBox'>

            <div class = 'searchTitle'>供應商 :</div>
            <div class = 'searchTitle'>產品名稱 :</div>
            <div class = 'searchTitle'>日期 : 起始</div>
            <div class = 'searchTitle'>日期 : 結束</div>
        </div>
        <div id = 'inputs'>

            <select id = 'supplierName'>
                <option value=''></option>
                <option>全部</option>
            </select>
            <select id = 'productName'>
                <option value=''></option>
                <option>全部</option>
            </select>
            <input type = 'date' id = 'startDateSearch'><br/>
            <input type = 'date' id = 'endDateSearch'><br/>
        </div>

    </div>
    <div id = 'btn'><button onclick = 'getStockChangeDetail()'>查詢</button></div>

    <div id = 'colorline-bottom'></div>
</div>


{% endblock BODY%}
</body>
{% block script %}
<script type='text/javascript' src='/script/product/searchStockChange.js'></script>
{% endblock  script%}
</html>