<!DOCTYPE html>
{% extends 'base.html' %}
{% block link%}
<link rel='stylesheet' type='text/css' href='/css/sale/saleOrderSingle.css'>
<link rel='stylesheet' type='text/css' href='/css/purchase/purchaseOrderSingle.css'>
{% endblock link%}
<body>
{% block BODY%}
<div id = 'content'>
    <div id = 'title'>
        <span>採購訂單</span>
        <span id = 'applicationInfo'></span>
    </div>
    <div id = 'middleBox'>
        <table>
            <tbody>
                <tr>
                    <td class = 'labels'><div>廠商名稱</div></td>
                    <td colspan='3'><div id = 'supplierName'></div></td>

                </tr>
                <tr>
                    <td class = 'labels'><div>統一編號</div></td>
                    <td><div id = 'taxId'></div></td>
                    <td ><div>入庫單號:</div></td>
                    <td><div id = 'receiptNumber'></div></td>
                </tr>
                <tr>
                    <td class = 'labels'><div>預計交貨日</div></td>
                    <td><div id = 'orderDate'></div></td>
                    <td><div>實際入庫日</div></td>
                    <td><div id = 'receiptDate'></div></td>
                </tr>
                <tr>
                    <td class = 'labels'><div>聯絡人</div></td>
                    <td><div id = 'contactName'></div></td>
                    <td><div>聯絡人職稱</div></td>
                    <td><div id = 'contactPersonTile'></div></td>
                </tr>
                <tr>
                    <td class = 'labels'><div>聯絡人電話</div></td>
                    <td><div id = 'contactPhone'></div></td>
                    <td ><div>負責業務</div></td>
                    <td><div id = 'repEmployee'></div></td>
                </tr>
                <tr>
                    <td class = 'labels'><div>聯絡人地址</div></td>
                    <td colspan='3'><div id = 'supplierAddress'></div></td>
                </tr>
                <tr>
                    <td class = 'labels'><div>聯絡人信箱</div></td>
                    <td colspan='3'><div id = 'contactEmail'></div></td>
                </tr>
                <tr id = 'purchaseOrderTitle'>
                    <td class = 'labels'><div>產品名稱</div></td>
                    <td class = 'orderDetail'><div>單價</div></td>
                    <td class = 'orderDetail'><div>數量</div></td>
                    <td class = 'orderDetail'><div>小計</div></td>
                </tr>

                <tr>
                    <td class = 'labels'><div>總計</div></td>
                    <td class = 'labels'></td>
                    <td></td>
                    <td><div id = 'total'></div></td>
                </tr>
            <tr>
                <td><div class = 'labels'>簽核意見 :</div></td>
                <td colspan='3' id = 'commentText'></td>
            </tr>
            <tr id = 'insertCommentBlock'>
                <td><div class = 'labels'>新增簽核意見 :</div></td>
                <td colspan='2'><input type = 'text' id = 'insertCommentText'></td>
                <td>
                    <button onclick='insertComment()'>新增意見</button>
                    <div id = 'insertCommentError'></div>
                </td>
            </tr>
            </tbody>
        </table>
        <div id = 'signBlock'>
            <div id = 'bossSignBlock'>
                <div class = 'signHint'>董事長核准</div>
                <div id = 'bossSignPng'></div>
                <div id = 'bossTime'></div>
            </div>
            <div id = 'managerSignBlock'>
                <div class = 'signHint'>主管核准</div>
                <div id = 'managerSignPng'></div>
                <div id = 'managerTime'></div>
            </div>
            <div id = 'applicant'>
                <div class = 'signHint'>承辦人</div>
                <div id = 'applicantSignPng'></div>
                <div id = 'applicantTime'></div>
            </div>
        </div>
        <div id = 'signBtn'>
            <div id = 'signResult'></div>
            <button id = 'rejectBtn' onclick='audit("reject")'>駁回</button>
            <button id = 'approveBtn' onclick='audit("approve")'>核准</button>
        </div>
        <div id = 'receiptChange'>
            <span id = 'rtCreateResult'></span>
            <button id = 'receiptBtn' onclick='receipt()'>產生出貨單</button>
        </div>

    </div>
</div>


{% endblock BODY%}
</body>
{% block script %}
<script type='text/javascript' src='/script/signSystem.js'></script>
<script type='text/javascript' src='/script/purchase/purchaseOrderSingle.js'></script>
{% endblock  script%}
</html>