<!DOCTYPE html>
{% extends 'base.html' %}
{% block link%}
<link rel='stylesheet' type='text/css' href='/css/applicationList.css'>
<link rel='stylesheet' type='text/css' href='/css/myApplication.css'>
{% endblock link%}
<body>
{% block BODY%}
<div id = 'content'>
    <div id = 'title'>我的申請單
        <span id = 'searchBox'>
            <span id = 'errorAlert'></span>
            <span class = 'searchTitle'>申請單狀態 :
                <select id = 'status'>
                    <option value=''></option>
                    <option>全部</option>
                    <option>申請中</option>
                    <option>審核完成</option>
                </select>
            </span>
            <span class = 'searchTitle'>申請單日期 : 起始
                <input type = 'date' id = 'dateStart'>
            </span>
            <span class = 'searchTitle'>結束
                <input type = 'date' id = 'dateEnd'>
            </span>
            <button onclick='myApplicationSearch()'>查詢</button>
        </span>

    </div>
    <div id = 'middleBox'>
        <table id = 'resultTable'>
            <tbody>
                <tr>
                    <th>序列</th>
                    <th>單號</th>
                    <th>部門</th>
                    <th>類型</th>
                    <th>狀態</th>
                    <th>申請人</th>
                    <th>申請日期</th>
                </tr>
            </tbody>
        </table>

    </div>
    <div id = 'pageBtn'>
        <button id = 'lastPage' onclick = 'lastPage()'>上一頁</button>
        <button id = 'nextPage' onclick = 'nextPage()'>下一頁</button>
    </div>
</div>

{% endblock BODY%}
</body>
{% block script %}
<script type='text/javascript' src='/script/myApplication.js'></script>
{% endblock  script%}
</html>